@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border m-0 p-0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-3xl xl:max-w-5xl;
  }

  .padding-container {
    @apply px-4 sm:px-6 xl:px-0;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .text-bold {
    @apply text-[18px] font-bold leading-[25.2px];
  }

  .text-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .logo-text-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }
}

.active-theme {
  filter: invert(28%) sepia(97%) saturate(3413%) hue-rotate(252deg)
    brightness(92%) contrast(102%);
}

.github-icon {
  filter: invert(0%) sepia(1%) saturate(7500%) hue-rotate(332deg)
    brightness(109%) contrast(99%);
}

.dark .github-icon {
  filter: invert(100%) sepia(0%) saturate(26%) hue-rotate(81deg)
    brightness(108%) contrast(107%);
}
